In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import files
uploaded = files.upload()

In [3]:
df=pd.read_csv('anime.csv')
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [4]:
#EDA
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [6]:
df.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [7]:
df.isnull()

       anime_id   name  genre   type  episodes  rating  members
0         False  False  False  False     False   False    False
1         False  False  False  False     False   False    False
2         False  False  False  False     False   False    False
3         False  False  False  False     False   False    False
4         False  False  False  False     False   False    False
...         ...    ...    ...    ...       ...     ...      ...
12289     False  False  False  False     False   False    False
12290     False  False  False  False     False   False    False
12291     False  False  False  False     False   False    False
12292     False  False  False  False     False   False    False
12293     False  False  False  False     False   False    False

[12294 rows x 7 columns]

In [8]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [9]:
df.isnull().sum().sum()

317

Feature Extraction

In [10]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# Convert categorical features into numerical representations
le = LabelEncoder()
df['genre'] = le.fit_transform(df['genre'])

# Normalize numerical features
scaler = StandardScaler()
df[['rating']] = scaler.fit_transform(df[['rating']])

Recommendation System

In [11]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# Convert categorical features into numerical representations
le = LabelEncoder()
df['genre'] = le.fit_transform(df['genre'])

# Normalize numerical features, handling potential NaNs
scaler = StandardScaler()
df[['rating']] = scaler.fit_transform(df[['rating']])

# Check and replace potential NaNs introduced by StandardScaler
df.fillna(0, inplace=True) # Replace NaNs with 0, or use another imputation strategy


def recommend_anime(target_anime_id, num_recommendations):
    # Get the features of the target anime
    target_anime_features = df.loc[target_anime_id, ['genre', 'rating']]

    # Calculate the cosine similarity scores
    similarity_scores = cosine_similarity(target_anime_features.values.reshape(1, -1), df[['genre', 'rating']])

    # Get the indices of the top N similar anime
    top_indices = np.argsort(similarity_scores[0])[-num_recommendations:]

    # Return the recommended anime
    return df.iloc[top_indices]

# Example usage:
recommended_anime = recommend_anime(0, 5)
print(recommended_anime)

       anime_id                             name  genre   type episodes  \
1019      32668              Noblesse: Awakening   1158    ONA        1
156        1210                  NHK ni Youkoso!   1783     TV       24
10786     26313  Yakusoku: Africa Mizu to Midori   2579    OVA        1
3306      31442        Musaigen no Phantom World    516     TV       13
0         32281                   Kimi no Na wa.   2686  Movie        1

         rating  members
1019   1.213688    28864
156    1.876002   291228
10786  2.703894       53
3306   0.541635   168482
0      2.820773   200630

Evaluation

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score

# Split the dataset into training and testing sets
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

# Evaluate the recommendation system
def evaluate_recommendation_system(recommended_ids, actual_ids): 
    recommended_set = set(recommended_ids)
    actual_set = set(actual_ids)

    true_positives = recommended_set & actual_set

    precision = len(true_positives) / len(recommended_set) if recommended_set else 0
    recall = len(true_positives) / len(actual_set) if actual_set else 0
    f1 = 2 * precision * recall / (precision + recall) if (precision + recall) > 0 else 0

    return precision, recall, f1

# Simulate a "query anime" from training set
query_index = train_df.sample(1).index[0]  # Pick a random anime from training set

# Recommend based on that anime
recommended_anime = recommend_anime(query_index, 10)

# Treat all test anime as relevant ground-truth
actual_anime_ids = test_df['anime_id'].tolist()

# Evaluate
precision, recall, f1 = evaluate_recommendation_system(
    recommended_anime['anime_id'].tolist(),
    actual_anime_ids
)
print(f'Precision: {precision:.4f}, Recall: {recall:.4f}, F1-score: {f1:.4f}')

Precision: 0.3000, Recall: 0.0012, F1-score: 0.0024

Interview Questions:

1. Can you explain the difference between user-based and item-based collaborative filtering?
Ans-1. User-Based Collaborative Filtering: In user-based collaborative filtering, recommendations are made based on the preferences of similar users. The system identifies users who have shown similar preferences in the past and suggests items that these similar users liked but the target user hasn’t interacted with yet

2. Item-Based Collaborative Filtering: In item-based collaborative filtering, recommendations are made by comparing the similarity between items. The system recommends items similar to those the user has interacted with or liked in the past. It focuses on finding relationships between items rather than users.

2.What is collaborative filtering, and how does it work?
Ans-Collaborative Filtering (CF) is a recommendation technique used in recommendation systems that suggests items like movies, products, or music to users based on the preferences and behaviors of other users or items.

Collaborative filtering works under the assumption that if two users had similar tastes in the past, they will continue to share similar preferences in the future. It is widely used by platforms like Amazon, Netflix, and Spotify for personalized recommendations.